* {
  margin: 0;
  position: 0;
}

.logo {
  display: flex;
  margin: 30px auto;
  justify-content: center;
  width: 500px;
}
.logo img {
  width: 250px;
}

.cardArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(230, 227, 227);
  padding: 5px;
}
.cardArea h3 {
  font-style: italic;
  font-family: instagram sans;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}
.cardArea div img {
  width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.cardArea button {
  border: none;
  padding: 4px;
  background-color: blue;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 10px;
  border-radius: 3px;
  color: white;
}

.border .cardArea ul {
  margin-right: 30px;
  margin-bottom: 10px;
}
.border .cardArea ul li {
  list-style: none;
  display: inline;
  margin-right: 4px;
  font-size: 10px;
}

.border {
  margin-top: 100px;
}
